.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: gray; //change after styling
  
    h2 {
      font-size: 2rem;
      color: black; //change after styling
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2rem;
      color: black; //change after styling
    }
  }