@use '../../styles/partials/mixins' as *;

.edit-item-card {
    z-index: 1;
}

textarea{
    padding-top: .5em;
    padding-left: 10px;
}

.edit-item-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    margin: -4rem 2rem 0 2rem;

    @include tablet{
        margin: -6.5rem 2rem 4rem 2rem;
    }

    @include desktop{
        margin: -7rem 8.125rem 6rem 8.125rem;

    }

  }
  
.edit-item-page-header-container {
    border-bottom: 2px solid black;
    
    
    @include tablet {

      }
      @include desktop { 

      }
}



.back-item-close-icon-two {
    position: absolute;
    top: 30%;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    @include tablet {
        top: 23%;
    }
    @include desktop { 
        top: 21%;
    }
}

.edit-item-page-header-text {
    margin-bottom: 0px;
    margin-top: 32px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.edit-item-details-container {
@include tablet{
    border-right:1px solid black ;
    padding-right: 2.5rem;
    width: 50%;
}
}
.edit-item-content-split{
    @include tablet{
    display: flex;
    justify-content: normal;
    flex-direction: row;
    margin-top: 24px;
}
}
.edit-item-details__header {

}

.edit-item-details__header-text {
margin-top: 16px;
}

.edit-item-details__name {

}

.edit-item-details__name-text {
    margin-bottom: 0;
    margin-top: 24px;
}

.edit-item-details__name-textarea {
    
    width: 97%;
    border-radius: 20px;
    height: 2.25rem;
    margin-top: 5px;
    border: 1px solid #BDC5D5;
}

.edit-item-details__name-textarea::placeholder {
    color: #BDC5D5;
    position: absolute;
    left: 15px;
    top:10px;

}


.edit-item-details__description {

}

.edit-item-details__description-text {
    margin-bottom: 0;
}

.edit-item-details__description-textarea {
width: 97%;
border-radius: 20px;
height: 7.5rem;
margin-top: 5px;
border: 1px solid #BDC5D5;
}
.edit-item-details__description-textarea::placeholder {
    color: #BDC5D5;
    position: absolute;
    left: 15px;
    top:10px; 
}
.edit-item-details__category {

}

.edit-item-details__category-text {
    margin-bottom: 0px;
}

.edit-item-details__category-select {
    width: 99%;
    border-radius: 20px;
    height: 2.25rem;
    margin-top: 5px;
   
   
}

.edit-item-availability-container {
    border-top: 1px solid black;
    margin-top: 24px;
    @include tablet{
        border-top: 0px solid black;
        width: 50%;
        padding-left: 40px;
    }
}

.edit-item-availability__header {
margin-bottom: 24px;
margin-top: 16px;
}

.edit-item-availability__status {

}

.edit-item-availability__status-text {
    margin-bottom: 0;
}

.edit-item-availability__radio-options {
margin-top: 5px;
}
.edit-item-availability__radio-options--one{

}
.edit-item-availability__radio-options--two{
padding-left: 35%;
}
.edit-item-availability__quantity {

}

.edit-item-availability__quantity-text {
    margin-bottom: 0;
}
.edit-item-availability__quantity-input{
    margin-top: 5px;
    width: 99%;
    border-radius: 20px;
    height: 2.25rem;
    @include desktop{
        width: 20%;
    }
}

.edit-item-availability__warehouse {

}

.edit-item-availability__warehouse-text {
    margin-bottom: 0;
}

.edit-item-availability__warehouse-select {
    width: 99%;
    border-radius: 20px;
    height: 2.25rem;
    margin-top: 5px;
}

.edit-item-buttons {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
    @include tablet {
        justify-content: end;
    }
}

.edit-item-buttons__cancel {
    border-radius: 20px;
    height: 36px;
    width: 98px;
    background-color: white;
    color: #5c667e;
    border: 1px solid #5c667e;
    margin-right: 1rem;
    width: 25%;
}

.edit-item-buttons__add-item {
    border-radius: 20px;
    border: none;
    height: 36px;
    width: 98px;
    background-color: #2e66e5;
    color: white;
    width: 25%;

}