$tablet-breakpoint: 767px;
// $tablet-maxwidth: 1269px;
$desktop-breakpoint: 1280px;

$primary-black: #13182C; 
$primary-blue: #2E66E5;
$primary-white: #FFFFFF;

$secondary-dark: #5C667E;
$secondary-light: #BDC5D5;

$background-dark: #232940;
$background-light: #F7F8F9;

$support-green: #158463;
$support-red: #C94515;